In [197]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
# from sklearn.model_selection import GridSearchCV, cross_val_score, train_test_split
from sklearn.feature_selection import SelectPercentile, f_classif
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
# from sklearn.model_selection import GridSearchCV, cross_val_score, train_test_split
from sklearn.metrics import classification_report
from matplotlib.colors import ListedColormap
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn import neighbors
from sklearn.svm import SVC
from sklearn import svm
from sklearn import grid_search
import random

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [198]:
data = pd.read_csv("Housing.csv")
housing_data = data.drop(['Id', 'Alley'], axis=1)

In [199]:
housing_data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
# Recoding some categorical variables into 0/1

In [200]:
# MSZoning
housing_data['MSZoning'].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [19]:
housing_data['MSZoning'][housing_data['MSZoning'] == 'RL'] = 0
housing_data['MSZoning'][housing_data['MSZoning'] == 'RM'] = 1
housing_data['MSZoning'][housing_data['MSZoning'] == 'C (all)'] = 2
housing_data['MSZoning'][housing_data['MSZoning'] == 'FV'] = 3
housing_data['MSZoning'][housing_data['MSZoning'] == 'RH'] = 4

In [20]:
housing_data['MSZoning'].unique()

array([0, 1, 2, 3, 4], dtype=object)

In [21]:
# Street
housing_data['Street'].unique()

array(['Pave', 'Grvl'], dtype=object)

In [22]:
housing_data['Street'][housing_data['Street'] == 'Pave'] = 0
housing_data['Street'][housing_data['Street'] == 'Grvl'] = 1

In [23]:
# LotShape
housing_data['LotShape'].unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [24]:
housing_data['LotShape'][housing_data['LotShape'] == 'Reg'] = 0
housing_data['LotShape'][housing_data['LotShape'] == 'IR1'] = 1
housing_data['LotShape'][housing_data['LotShape'] == 'IR2'] = 2
housing_data['LotShape'][housing_data['LotShape'] == 'IR3'] = 3

In [27]:
# LandContour
housing_data['LotConfig'].unique()

array(['Inside', 'FR2', 'Corner', 'CulDSac', 'FR3'], dtype=object)

In [28]:
housing_data['LotConfig'][housing_data['LotConfig'] == 'Inside'] = 0
housing_data['LotConfig'][housing_data['LotConfig'] == 'FR2'] = 1
housing_data['LotConfig'][housing_data['LotConfig'] == 'Corner'] = 2
housing_data['LotConfig'][housing_data['LotConfig'] == 'CulDSac'] = 3
housing_data['LotConfig'][housing_data['LotConfig'] == 'FR3'] = 4

In [45]:
housing_data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,0,65.0,8450,0,0,Lvl,AllPub,0,Gtl,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,0,80.0,9600,0,0,Lvl,AllPub,1,Gtl,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,0,68.0,11250,0,1,Lvl,AllPub,0,Gtl,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,0,60.0,9550,0,1,Lvl,AllPub,2,Gtl,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,0,84.0,14260,0,1,Lvl,AllPub,1,Gtl,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [66]:
# First couple columns
first_five_cols = housing_data.iloc[:, :6].head()
first_five_cols.head()

   MSSubClass MSZoning  LotFrontage  LotArea Street LotShape
0          60        0         65.0     8450      0        0
1          20        0         80.0     9600      0        0
2          60        0         68.0    11250      0        1
3          70        0         60.0     9550      0        1
4          60        0         84.0    14260      0        1

In [203]:
housing_data.CentralAir.describe()

count     1460
unique       2
top          Y
freq      1365
Name: CentralAir, dtype: object

In [36]:
housing_data.OverallQual.describe()

count    1460.000000
mean        6.099315
std         1.382997
min         1.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        10.000000
Name: OverallQual, dtype: float64

In [64]:
two_locd = housing_data[['OverallCond', 'OverallQual']]

In [51]:
last_five_columns = housing_data.iloc[:, -5:]

In [120]:
# Getting the full dataframe
df = pd.concat([first_five_cols, two_locd, last_five_columns], axis=1)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,OverallCond,OverallQual,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60.0,0,65.0,8450.0,0,0,5,7,2,2008,WD,Normal,208500
1,20.0,0,80.0,9600.0,0,0,8,6,5,2007,WD,Normal,181500
2,60.0,0,68.0,11250.0,0,1,5,7,9,2008,WD,Normal,223500
3,70.0,0,60.0,9550.0,0,1,5,7,2,2006,WD,Abnorml,140000
4,60.0,0,84.0,14260.0,0,1,5,8,12,2008,WD,Normal,250000

In [121]:
df = df.drop(['SaleType', 'SaleCondition'], axis=1)

In [122]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,OverallCond,OverallQual,MoSold,YrSold,SalePrice
0,60.0,0,65.0,8450.0,0,0,5,7,2,2008,208500
1,20.0,0,80.0,9600.0,0,0,8,6,5,2007,181500
2,60.0,0,68.0,11250.0,0,1,5,7,9,2008,223500
3,70.0,0,60.0,9550.0,0,1,5,7,2,2006,140000
4,60.0,0,84.0,14260.0,0,1,5,8,12,2008,250000

In [123]:
# Create one empty row up top that we'll fill with the actual 0/1/2 value  
df.loc[-1] = np.zeros(11)
df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index

In [128]:
# Create one empty row up top which will be filled with a 0/1/2 depending on that column's type of variable 
df.loc[-1] = np.zeros(11)
df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index

In [ ]:
# Create a third empty row which contains the percent of empty values in that column 
df.loc[-1] = np.zeros(11)
df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index

In [129]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,OverallCond,OverallQual,MoSold,YrSold,SalePrice
0,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
1,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
2,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
3,60.0,0,65.0,8450.0,0,0,5.0,7.0,2.0,2008.0,208500.0
4,20.0,0,80.0,9600.0,0,0,8.0,6.0,5.0,2007.0,181500.0

In [132]:
df.shape

(1463, 11)

In [134]:
# Filling the first row with the actual values, where 0=categorical, 1=ordinal, and 2=ratio
df['MSSubClass'].iloc[0] = 0
df['MSZoning'].iloc[0] = 0
df['LotFrontage'].iloc[0] = 2
df['LotArea'].iloc[0] = 2
df['Street'].iloc[0] = 0
df['LotShape'].iloc[0] = 0
df['OverallCond'].iloc[0] = 1
df['OverallQual'].iloc[0] = 1
df['MoSold'].iloc[0] = 0
df['YrSold'].iloc[0] = 0
df['SalePrice'].iloc[0] = 2

In [136]:
# View of the df with the top row filled in of actual types 
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,OverallCond,OverallQual,MoSold,YrSold,SalePrice
0,0.0,0,2.0,2.0,0,0,1.0,1.0,0.0,0.0,2.0
1,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
2,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
3,60.0,0,65.0,8450.0,0,0,5.0,7.0,2.0,2008.0,208500.0
4,20.0,0,80.0,9600.0,0,0,8.0,6.0,5.0,2007.0,181500.0

In [158]:
df['MSSubClass'].iloc[3] == 60.0

True

In [238]:
# Add a function that adds empty row to fill in with 3 labels (0/1/2) of non-ordered categorical (region of the 
# country), ordinal (1-7 for how much you like something), and ratio (income)

# If it's a decimal (check if any elements are not divisible by 1, rather than actual data type since you can have 
# 2.0 be categorical), or over 1000, it's probably ratio

In [242]:
# If/then logic for classifying the types of columns  

# Others to include - "Year"/'Yr' in 

for (counter, column) in enumerate(df):
    if df[column].max() > 10:
        df[column].iloc[1] = 2
    elif df[column].max() == 10:
        df[column].iloc[1] = 1
    elif df[column].max() == 9:
        df[column].iloc[1] = 1

In [241]:
df['OverallCond'].describe()

count    1463.000000
mean        5.564593
std         1.136885
min         0.000000
25%         5.000000
50%         5.000000
75%         6.000000
max         9.000000
Name: OverallCond, dtype: float64

In [179]:
# Figure out how to do this as .apply() instead of a for loop, which is better for pandas 

# def testing_it():
#     if df[column].max() > 10:
#         df[column].iloc[1] = 2
#     elif df[column].max() == 10:
#         df[column].iloc[1] = 1
#     return df

# df.apply(testing_it)

In [ ]:
# For loop applies

In [243]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,OverallCond,OverallQual,MoSold,YrSold,SalePrice
0,0.0,0,2.0,2.0,0,0,1.0,1.0,0.0,0.0,2.0
1,2.0,0,2.0,2.0,0,0,1.0,1.0,2.0,2.0,2.0
2,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0
3,60.0,0,65.0,8450.0,0,0,5.0,7.0,2.0,2008.0,208500.0
4,20.0,0,80.0,9600.0,0,0,8.0,6.0,5.0,2007.0,181500.0